* {
    box-sizing: border-box;
}

h1{
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 30px;
}

.title{ 
    background-color: crimson;
    color: white;
    display: flex;
    padding: 20px;
    margin: 40px;
}

.app {
    display: flex;
    padding: 0px;
    margin: 40px;
    border: 0px;
}

.screenshot {
    margin-top: 0px;
    border: 2px solid crimson;
    padding: 0px;
    max-width: 460px;
}

.text {
    font-family: sans-serif;
    border: 2px solid crimson;
    margin-left: 30px;
    max-width: 760px;
    color: #7C8B88;
}